$button-default-color : $white;

$button-default : $dark-gray;
$button-danger : $red;
$button-success : $green;
$button-warning : $orange;
$button-info : $blue;
$button-dark : $black;

%btn{
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-default{
    @extend %btn;
    background-color: $button-default;
    color: $button-default-color;
    
    &:hover{
        background-color: darken($button-default, 10%);
    }
}

.btn-danger{
    @extend %btn;
    background-color: $button-danger;
    color: $button-default-color;
    
    &:hover{
        background-color: rgba($button-danger, 0.2);
    }
}

.btn-success{
    @extend %btn;
    background-color: $button-success;
    color: $button-default-color;
    
    &:hover{
        background-color: darken($button-success, 10%);
    }
}

.btn-warning{
    @extend %btn;
    background-color: $button-warning;
    color: $button-default-color;
    
    &:hover{
        background-color: darken($button-warning, 10%);
    }
}

.btn-info{
    @extend %btn;
    background-color: $button-info;
    color: $button-default-color;
    
    &:hover{
        background-color: darken($button-info, 10%);
    }
}

.btn-dark{
    @extend %btn;
    background-color: $button-dark;
    color: $button-default-color;
    
    &:hover{
        background-color: lighten($button-dark, 10%);
    }
}